<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h4>create new blog</h4>
<form class="col s12" method="POST" action="{% url 'add' %}">
{% csrf_token %}
<div class="row" >
<div class="input-field col s12">
<textarea id="textarea1" name="data" class="materialize-textarea"></textarea>
<hr>
<label for="textarea1">What's new today?</label>
</div>
</div>
<button type="submit">Add..<button>
</form>
<br>
<a href="{% url 'show'%}">Home</a>

</body>
</html>