<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h4>YOUR BLOGS</h4>
<a href="{% url 'add' %} ">Add memory!!!</a>
<hr>
{% for mems in m%}
   <div class="blue-text"> {{mems.date}}</div>
    <br>
    <h5 class="red-text">{{mems.content}}</h5>
    <hr>
{% endfor %}
<br><br><br>
<a href="{% url 'logout'%}" >LOGOUT-</a>


</body>
</html>